# Activation de mod_rewrite
RewriteEngine On

# Vérifie si la requête ne pointe pas déjà vers /public/
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]

# Définit index.php comme fichier d'index
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    # Active la réécriture des URL
    Options +SymLinksIfOwnerMatch
    RewriteEngine On

    # Définir la base du site automatiquement
    RewriteCond %{REQUEST_URI}::$0 ^(/.+)/(.*)::\2$
    RewriteRule .* - [E=BASE:%1]

    # Garde l'authentification HTTP si Apache la supprime
    RewriteCond %{HTTP:Authorization} .+
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%0]

    # Évite le contenu dupliqué en supprimant index.php des URLs
    RewriteCond %{ENV:REDIRECT_STATUS} =""
    RewriteRule ^index\.php(?:/(.*)|$) %{ENV:BASE}/$1 [R=308,L]

    # Si le fichier ou dossier n'existe pas, redirige vers index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ %{ENV:BASE}/index.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 307 ^/$ /index.php/
    </IfModule>
</IfModule>